[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywb = "*"
pipenv = "*"
simplechrome = {git = "https://github.com/webrecorder/simplechrome.git",ref = "master"}
cripy = {git = "https://github.com/webrecorder/chrome-remote-interface-py.git"}
reprounzip = "*"
reprounzip-docker = "*"

[dev-packages]

[requires]
python_version = "3.7"
