[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywb = "*"
pipenv = "*"
reprounzip-docker = {editable = true, path = "./../reprozip/reprounzip-docker"}
reprounzip = {editable = true, path = "./../reprozip/reprounzip"}

[dev-packages]

[requires]
python_version = "3.7"
