[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywb = "*"
pipenv = "*"
reprounzip = "*"
reprounzip-docker = "*"
requests = "*"
pychrome = "*"
pyppeteer = "*"
pyyaml = "*"
docker = "*"

[dev-packages]

[requires]
python_version = "3.7"
